@import "tailwindcss";
@import "@enei/shadcn/styles.css";

@theme {
  --font-sans:
    Space Grotesk, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  --color-enei-blue: var(--color-enei-indigo-blue);
  --color-enei-beige: var(--color-enei-pearl);
  --color-enei-emerald: var(--color-enei-dark-cyan);
  --color-enei-night: var(--color-enei-raisin-black);
  --color-enei-workshop: var(--color-enei-tea-green);
  --color-enei-meal: var(--color-enei-emerald);
  --color-enei-talk: var(--color-enei-hunyadi-yellow);
  --color-enei-competition: var(--color-enei-persian-orange);
  --color-enei-networking: var(--color-enei-cambridge-blue);
  --color-enei-other: var(--color-enei-blue);
}

html,
body,
#app {
  height: 100%;
}

.wave-clip-path {
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 55.7%,
    2% 53.49%,
    4% 51.21%,
    6% 48.91%,
    8% 46.63%,
    10% 44.41%,
    12% 42.3%,
    14% 40.34%,
    16% 38.56%,
    18% 37%,
    20% 35.68%,
    22% 34.64%,
    24% 33.9%,
    26% 33.46%,
    28% 33.34%,
    30% 33.53%,
    32% 34.04%,
    34% 34.85%,
    36% 35.95%,
    38% 37.32%,
    40% 38.93%,
    42% 40.76%,
    44% 42.76%,
    46% 44.89%,
    48% 47.13%,
    50% 49.42%,
    52% 51.72%,
    54% 53.99%,
    56% 56.18%,
    58% 58.25%,
    60% 60.17%,
    62% 61.89%,
    64% 63.39%,
    66% 64.63%,
    68% 65.59%,
    70% 66.25%,
    72% 66.61%,
    74% 66.64%,
    76% 66.36%,
    78% 65.77%,
    80% 64.88%,
    82% 63.7%,
    84% 62.26%,
    86% 60.59%,
    88% 58.71%,
    90% 56.67%,
    92% 54.5%,
    94% 52.25%,
    96% 49.95%,
    98% 47.66%,
    100% 45.41%
  );
}

.official-partner-waves {
  background-image: url("/images/waves/official-waves.svg");
  background-position: top center;
  background-size: cover;
  background-repeat: repeat;
  height: 40rem;
}

.gold-partner-waves {
  outline-color: hsl(var(--enei-blue));
  background-image: url("/images/waves/gold-waves.svg");
  background-position: top center;
  background-size: cover;
  background-repeat: repeat;
  height: 40rem;
}

.silver-partner-waves {
  background-image: url("/images/waves/silver-waves.svg");
  background-position: top center;
  background-size: cover;
  background-repeat: repeat;
  height: 40rem;
}

.bronze-partner-waves {
  background-image: url("/images/waves/bronze-waves.svg");
  background-position: top center;
  background-size: cover;
  background-repeat: repeat;
  height: 32rem;
}

.enei-footer-waves {
  background-image: url("/images/footer/waves.svg");
  background-position: bottom center;
  background-size: contain cover;
  background-repeat: repeat-x;
}
